@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.error-container {
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/46/1d/25/461d254f8563f8945ce3a385f289df17.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f9cd07',GradientType=0 );
}

.error-container .msg-code {
  font-size: 25px;
  font-weight: 400;
}

.error-container .msg-desc {
  font-size: 20px;
}

.error-container .msg-action {
  font-size: 17px;
}

.image img {
  width: 90%;
  max-width: 200px;
}

@media (min-width: 768px) {
  .col-md-to-5 {
    width: 20%;
  }
  .md-mt-2 {
    margin-top: 20px;
  }
  .md-mt-4 {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .xs-mt-2 {
    margin-top: 20px;
  }
}

.md-no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.md-no-padding {
  padding-left: 0;
  padding-right: 0;
}

.abs-vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.abs-horizontal-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.abs-vertihori-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.abs-pull-left {
  left: 0;
}

.abs-pull-right {
  right: 0;
}

@media (min-width: 768px) {
  .rel-md-vertical-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .rel-md-horizontal-center {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.rel-vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.rel-horizontal-center {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.cus-text-center {
  text-align: center;
}

.cus-media-center {
  margin-left: auto;
  margin-right: auto;
}
